* {
  font-family: "Questrial", sans-serif;
}

body {
  background-image: linear-gradient(to top, #c2acca 0%, #e8e0ef 100%);
}
.container {
  margin-top: 50px;
  border: solid 1px rgb(250, 246, 246);
  border-radius: 55px;
  padding: 70px;
  height: 862px;
  width: 600px;
  background-image: url("../img/purple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 15px 15px 15px rgba(0, 0, 0, 0.2);
  border: solid 1px;
}
.city-time {
  padding: 0;
}
.current-time {
  font-size: 14px;
}
.city {
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
  padding-top: 8px;
}

.current-weather {
  text-align: center;
  margin: 115px 0 100px;
}
.current-time {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}
#icon {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.current-temperature {
  font-weight: 400;
  padding-left: 5px;
  margin-bottom: 15px;
}

.weather-description {
  font-size: 20px;

  text-shadow: 2px 2px 3px #e6cd9f;
  font-weight: bold;
  text-transform: capitalize;
}

.weather-humidity {
  font-size: 16px;

  text-shadow: 2px 2px 3px #e6cd9f;
  font-weight: bold;
}
.weather-wind {
  font-size: 16px;
  font-weight: bold;

  text-shadow: 2px 2px 3px #e6cd9f;
}
h1 {
  font-size: 32px;
  color: #3a2038;
  text-shadow: 2px 2px 3px #a464b9;
  font-weight: bold;
}
.temperature {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 35px;
  text-shadow: 2px 2px rgb(63, 24, 60);
  padding: 8px;
  margin: 1px;
  color: #915b8c;
  cursor: default;
}
.week-weather {
  font-size: 18px;
  padding: 30px 0;
  text-align: center;
  margin-top: -73px;

  font-weight: bold;
}
.week-icons {
  font-size: 25px;
}
.predicted-weather {
  padding: 0;
  color: #44115c;
  text-shadow: 2px 2px 3px #c4a961;
}
.coder {
  color: black;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}
.coder a {
  color: black;
}

.fa-github-square {
  color: #160715;
  font-size: 1.5rem;
  display: inline-block;
  justify-content: space-between;
}

.fa-linkedin {
  color: #3a1cbd;
  font-size: 1.5rem;
  display: inline-block;
  justify-content: space-between;
}

.links {
  background-color: #93b4b0;
  opacity: 0.9;
  border: 1px solid rgb(140, 188, 228);
  border-radius: 25px;
  transition: 200ms all ease-in-out;
  font-size: 15px;
}

#current-location {
  opacity: 0.9;
  color: rgb(208, 178, 236);
  margin-left: 90px;
  margin-right: 10px;
  font-size: 44px;
  transition: 200ms all ease-in-out;
}
#current-location:hover {
  color: blueviolet;
  opacity: 0.9;
  font-size: 44px;
}

.btn:hover {
  background-color: blueviolet;
  color: rgb(7, 7, 7);
}

.navbar {
  background-color: #915b8c;
  border-radius: 10px;
  margin-top: 10px;
  opacity: 0.7;
  transition: 200ms all ease-in-out;
  box-shadow: 10px 15px 15px 15px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to left, #161516 0%, #e8e0ef 100%);
}

.btn {
  background-color: rgb(208, 178, 236);
  opacity: 0.9;

  border-radius: 25px;
  transition: 200ms all ease-in-out;
  font-size: 20px;
}

.form-control {
  background-color: rgb(238, 238, 238);
  font-size: 22px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  margin-left: 20px;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-family: "Questrial", sans-serif;
  text-align: center;

  font-size: 16px;
  padding: 15px;
  margin: 5px;
  color: #915b8c;
  text-decoration: none;

  font-weight: bold;
}

#fahrenheit-link {
  font-family: "Dancing Script", cursive;

  text-align: center;
  cursor: default;
  font-size: 1.7rem;
  padding: -6px;
  margin: -3px;
  text-shadow: 2px 2px rgb(63, 24, 60);
  color: #915b8c;
}

#celsius-link {
  font-family: "Dancing Script", cursive;
  cursor: default;
  text-align: center;

  font-size: 1.7rem;
  text-shadow: 2px 2px rgb(63, 24, 60);
  padding: -6px;
  margin: 3px;
  color: #915b8c;
}

#search-city {
  margin-left: 2px;
}

#time {
  font-size: 20px;
  display: block;
  margin: 0 auto;
  padding: 2px;
  text-shadow: 2px 2px #5e5803;
  color: #e6cd9f;
  font-weight: bold;
}

#date {
  font-size: 20px;

  text-shadow: 2px 2px 3px #e6cd9f;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: -10px;
  font-family: "Dancing Script", cursive;
}

ul {
  text-decoration: none;
  list-style: none;
}

li {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  text-shadow: 2px 2px 3px #e6cd9f;
}
